.wrapper > div {
  padding: 6px;
  justify-content: center;
}

#image-container {
  grid-area: imag;
  justify-content: center;
  padding-bottom: 26px;
  padding-right: 26px;
}
#name-age {
  grid-area: name;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
}

.title {
  grid-area: titl;
  padding-top: 26px;
}
.subtitle {
  grid-area: subt;
  margin: auto 0;
}
.links {
  grid-area: link;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  padding: 16px;
}

/* ------- TINY DISPLAY ------- */

@media (max-width: 540px) {
  .links {
    grid-template-columns: repeat(2, 1fr);
  }

  .wrapper {
    padding: 0 auto;
  }
}
/* ------- ------------- ------- */

#main-content {
  grid-area: main;
  margin-top: 46px;
}
#seg-content {
  grid-area: segu;
}

#side1 {
  grid-area: sid1;
}

#side2 {
  grid-area: sid2;
}
#side1,
#side2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 16px;
}

footer {
  grid-area: foot;
}

.wrapper {
  padding: 16px 16px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas:
    "imag titl"
    "name name"
    "subt subt"
    "link link"
    "main main"
    "sid1 sid1"
    "segu segu"
    "sid2 sid2"
    "foot foot";
  gap: 8px;
}

/* ------- DESKTOP DISPLAY ------- */

@media (min-width: 640px) {
  /* * {
    font-size: 1rem;
  } */

  .title h1 {
    font-size: 3.5rem;
  }

  .wrapper > div {
    padding: 16px;
    justify-content: start;
  }

  #image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36px 16px 36px 16px;
  }

  #image-container > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .wrapper > .title {
    padding-top: 36px;
    justify-content: center;
  }

  .wrapper > .subtitle {
    padding-bottom: 36px;
  }

  .links {
    grid-template-columns: 1fr;
  }

  #side1,
  #side2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 16px;
  }

  body {
    width: 100%;
  }

  .wrapper {
    /* width: 100%; */
    grid-template-columns: minmax(220px, 2fr) minmax(300px, 5fr);
    grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-areas:
      "imag titl"
      "imag subt"
      "name main"
      "link main"
      "sid1 main"
      "sid1 main"
      "sid2 segu"
      "foot foot";
    column-gap: 32px;
    padding: 16px 32px;
  }

  .break {
    display: none;
  }
}
