@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;1,100&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&family=Viga&display=swap");

:root {
  /* CSS HEX */
  --tea-green: rgb(249, 253, 239);
  --beau-blue: rgba(187, 209, 234, 0.4);
  --white: #fff;
  --black: #000;

  /* FONTS SET 1*/
  /* --headings: "Fredoka One";
  --sub-headings: "Fredoka One";
  --text: "Raleway"; */

  /* FONTS SET 2 */
  --headings: "Viga";
  --sub-headings: "Viga";
  --text: "Quicksand";
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--text);
  font-weight: 500;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a {
  color: #004ba8;
}

.id-photo {
  width: 100%;
    border-radius: 100%;
  animation: headbangy 0.4s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
}

.id-photo img {
  border-radius: 50%;
  background-color: var(--beau-blue);
  border: 5px solid  #004ba8;
  width: 100%;
  animation: headbang 1.2s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}

@-webkit-keyframes headbang {
  0% { transform: rotate(-6deg)  }
  50% { transform: rotate(4deg) scale(104%)  }
  100% { transform: rotate(-6deg)  }
}

@keyframes headbang {
  0% { transform: rotate(-6deg)  }
  50% { transform: rotate(4deg) scale(104%) }
  100% { transform: rotate(-6deg)  }
}

@-webkit-keyframes headbangy {
  0% { transform:  translate(-1px) }
  50% { transform:  translate(1px) }
  100% { transform:  translate(-1px); }
}

@keyframes headbangy {
  0% { transform:  translate(-1px) }
  50% { transform:  translate(1px) }
  100% { transform:  translate(-1px); }
}


.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: auto;
}

.filler {
  margin: 0 auto;
  flex-grow: 1;
  width: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 16px;
  padding: 16px;
}

section {
  border-left: solid 2px rgba(5, 12, 26, 0.082);
  border-bottom: solid 2px rgba(5, 12, 26, 0.082);
  background-color: var(--beau-blue);
  border-radius: 2px;
  margin: 30px 0 0 0;
  padding-left: 40px;
  padding-right: 20px;
}

#first-section {
  margin-bottom: 80px;
}

section h4 {
  padding: 20px 0px;
  margin: 0;
}

section div {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.1rem;
  margin: 6px 0;
}

.year {
  position: relative;
  top: 11px;
  left: -11px;
  font-family: monospace;
  color: white;
  background-color: rgba(60, 60, 60);
  padding: 4px 6px;
  border-radius: 4px;
  margin: 0;
  width: fit-content;
}

.achievement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 6px;
  margin: 0 0 10px 0;
  border-radius: 2px;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0.582);
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  margin: 0 auto;
  padding: 16px;
}

.break {
  height: 1px;
  border-radius: 90% 4px 90% 4px;
  border: solid 1px rgba(0, 0, 0, 0.363);
  width: 60%;
  margin: 20px auto;
}

.skill-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0;
}

.skill-list ul li {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  text-align: center;
  background-color: rgba(60, 60, 60);
  color: rgb(255, 255, 255);
  border-radius: 6px 4px 8px 4px;
  padding: 6px 8px;
  margin: 1px 0;
}
.skill-list ul li:hover {
  box-shadow: inset 0px 0px 2px 0px var(--tea-green),
    0px 0px 2px 0px var(--tea-green);
}

.side-bar h1 {
  margin: 0;
}
.side-bar h4 {
  margin: 0;
}

.skill-list a {
  display: flex;
  align-items: center;
}

.skill-list a img {
  height: 1.2rem;
  margin-right: 8px;
}

.skill-list li p {
  font-weight: 100;
  text-align: end;
  margin: 0 0 0 auto;
}

.inline-list {
  margin-right: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.inline-list span {
  font-family: var(--text);
  font-size: medium;
  font-weight: 100;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #004ba8;
  border-radius: 4px;
  padding: 4px 6px;
  margin: 2px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  word-wrap: break-word;
  word-break: normal;
}

h1,
h2 {
  font-family: var(--headings);
}

h3,
h4,
h5 {
  font-family: var(--sub-headings);
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  color: #004ba8;
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 10px 0;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  color: #004ba8;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 20px 0;
}

.notnow {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  margin-right: 20px;
}
.now {
  display: inline;

  font-family: "Permanent Marker", cursive;
  font-size: small;
  margin: auto 0 0 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: solid 2px black;
}

/* @media (min-width: 769px) {
  .wrapper {
  }
  .side-bar {
  }
  .content {
    font-size: x-small;
  }
} */

@media (max-device-width: 518px) {
  .wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: auto;
  }
  .id-photo {
    display: flex;
    flex-direction: column;
  }
  .id-photo img {
    width: 60%;
    align-self: center;
  }
  .title {
    margin: 0 auto;
  }
  .side-bar {
    margin-bottom: 60px;
  }
  .content {
  }
  * {
    font-size: 1.2rem;
  }
}

@media (max-device-width: 244px) {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: auto;
  }
  .id-photo {
    display: flex;
    flex-direction: column;
  }
  .id-photo img {
    /* width: 60%; */
    align-self: center;
  }
  .title {
    margin: 0 auto;
  }
  .side-bar {
    margin-bottom: 60px;
  }
  .content {
  }
  * {
    font-size: 1.2rem;
  }
}

/* @media (max-width: 640px) {
  .wrapper {
    max-width: 640px;
    flex-direction: column;
    width: 100%;
  }
  .side-bar {
    max-width: 25vw;
    min-width: 25vw;
  }
  .content {
    max-width: 60vw;
  }
} */
